#!/usr/bin/make -f

#export DH_VERBOSE=1

version	:= $(shell dpkg-parsechangelog | sed -nr '/^Version:/s/Version: ([0-9]+:)?([.0-9]+)-(.*)/\2/p')
tmpdir	:= debian/tmp/usr/src/cryptodev-$(version)

%:
	dh $@ --with dkms

install-tmp:
	mkdir -p $(tmpdir)
	cp -a *.c *.h Makefile crypto/ $(tmpdir)

override_dh_install: install-tmp
	dh_install

override_dh_dkms:
	dh_dkms -V $(version)

# do nothing
override_dh_auto_configure override_dh_auto_build override_dh_auto_test override_dh_auto_install override_dh_auto_clean:
